body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 2.7rem;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: yellow;
}

label {
    font-size: 1.7rem;
}

input {
    font-size: 18px;
}

button {
    width: 160px;
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
    background-color: white;
}

.infoInput {
    display: none;
}

#bookLibrary {
    margin: 0 auto;
    margin-top: 1rem;
    width: 880px;
    height: 1000px;
    background-color: aquamarine;
    border: 3px solid turquoise;
}

card-holder {
    width: 100px;
    height: 70px;
    background-color: yellow;
}

card-front {
    width: 100px;
    height: 70px;
    background-color: yellow;
}
